[submodule "external/abieos"]
	path = external/abieos
	url = https://github.com/cc32d9/abieos.git
	branch = ship_20x_31x_fixes
[submodule "external/appbase"]
	path = external/appbase
	url = https://github.com/eosnetworkfoundation/mandel-appbase.git
	branch = main
[submodule "external/chainbase"]
	path = external/chainbase
	url = https://github.com/eosnetworkfoundation/mandel-chainbase.git
	branch = main
